
body{
    width: 99%;
    height: 90vh;
    background-image: url(image/fundo.webp);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

   
}
.nome{
position: absolute;
bottom: 10px;


}

.nome h1{
  font-size: 1em;
}


.paises img:hover{
    transform: translateY(1px);
}

.swiper {
    width: 260px;
    height: 340px;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: black;
    background-color: rgb(235, 235, 235);
    flex-direction: column;
   
  }

  .swiper-slide img{
    width: 80%;
  }
/* 
  .swiper-slide:nth-child(1n) {
    background-color: rgb(206, 17, 17);
  }

  .swiper-slide:nth-child(2n) {
    background-color: rgb(0, 140, 255);
  }

  .swiper-slide:nth-child(3n) {
    background-color: rgb(10, 184, 111);
  }

  .swiper-slide:nth-child(4n) {
    background-color: rgb(211, 122, 7);
  }

  .swiper-slide:nth-child(5n) {
    background-color: rgb(118, 163, 12);
  }

  .swiper-slide:nth-child(6n) {
    background-color: rgb(180, 10, 47);
  }

  .swiper-slide:nth-child(7n) {
    background-color: rgb(35, 99, 19);
  }

  .swiper-slide:nth-child(8n) {
    background-color: rgb(0, 68, 255);
  }

  .swiper-slide:nth-child(9n) {
    background-color: rgb(218, 12, 218);
  }

  .swiper-slide:nth-child(10n) {
    background-color: rgb(54, 94, 77);
  } */

.cards label {

    position: absolute;
    width: 430px;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.55s ease;
}

.cards .card{

    position: relative;
    height: 500px;
    background-color: #323444;
    border-radius: 10px;
    padding: 30px 35px;
}



@media screen and (max-width: 770px)  {
  

  body{
  width: 100%;

   
}
  .swiper {
    width: 240px;
    height: 320px;
  }
}









